.team-area {
    background-color: #ecebec;
    .single-team {
        margin-top: 50px;
        position: relative;
        text-align: center;
        overflow: hidden;
        &:hover .team-content {
            opacity: 1;
            visibility: visible;
            bottom: 0;
        }
        img {
            width: 100%;
        }
        .team-content {
            background-color: $primary_color;
            position: absolute;
            width: 100%;
            bottom: -62px;
            color: $white_color;
            padding: 5px;
            transition: .3s ease all;
            h4 {
                font-size: 18px;
            }
            h6 {
                font-size: 12px;
            }
        }
    }
}


